html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Noto Sans;
    
}

button {
    background-color: #CC0033;
    width: 30%;
    color: white;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

textarea {
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    border: 1px solid black;
    border-radius: 15px;
    resize: vertical;
}

.bodyLogin {
    background-image: url('../images/valcs.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Noto Sans;
}

.bodytemp {
    width: 100%;
    background-image: url('../images/tempo.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Noto Sans;
   
}


.form {
    margin: auto;
    width: 50%;
    /* background-color: #8b8b8b;
    border-radius: 15px;
    border: 1px solid black;*/
}

.form p, a {
    color: black;
    font-family: Noto Sans;
}

.form-control {
    width: 90%;
    margin: auto;
    padding: 12px;
    border: 1px solid black;
    border-radius: 15px;
    resize: vertical;

}

.form-floating > label {
    position: relative;
    padding: 8px;
}

.form-control::-moz-placeholder {
    color: black !important;
}

.form-control::placeholder {
    color: black !important;
}
.box1 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    background-color: lightgray;
}
    .box1 p, h4 {
        color: black;
    }

.borders {
    border-top: 10px solid white;
    padding: 20px
}

th {
    border: 1px solid black;
    /*padding: 10px;*/
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
}

.darkcolor {
    background-color: lightgray;
    color: black;
}

.dark {
    background-color: white;
}
.bordercolor {
    border-color: black !important;
    border: 1px solid;
}