@{
    ViewData["Title"] = "PlayerAndStats";
}
<style>


    .logo {
        max-width: 100%;
        height: auto;
    }

    table {
        border-collapse: collapse;
        width: 95%;
    }

    h3 {
        text-align: center;
    }

    .box2 {
        width: calc(95% / 2);
        height: 20%;
        display: inline-block;
    }

    caption {
        color: black;
        text-decoration: underline;
    }

    .alinhar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .alinhar2 {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 50px;
        margin: 10px;
    }

        .my-div > div {
            flex-basis: 25%;
            flex-grow: 1;
        }

    .my-div2 > div {
        width: 100%
    }

    bestof {
        font-weight: normal;
    }


    .span2 {
        font-weight: normal;
    }

    .span3 {
        font-weight: normal;
    }

    .central {
        text-align: center;
        background-color: white;
    }

    .ola {
        display: flex;
        align-self: flex-start;
    }

    .buttons {
        display: flex;
        margin-bottom: 30px;
        margin-right: 25%;
        justify-content: right;
    }

    .search-container {
        display: flex;
        align-items: center;
    }

    .dropdown-content a {
        background-color: white;
        display: block;
        color: #000;
        padding: 10px;
        text-decoration: none;
        border: 1px solid black;
    }

    .dropdown {
        margin-left: 10px;
        background-color: #e0eeff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border: 1px solid black;
    }

    .dropdown-content a:hover {
        background-color: #bf7b8e;
    }

    .button2 {
        background-color: #e0eeff;
        color: black;
        width: 100%;
        padding: 10px 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        margin-left: 5%;
    }

    .button:hover {
        background-color: #2980b9;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .central {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: 100%;
        background-color: white;
    }

    .search-container input[type="text"] {
        background-color: #e0eeff;
        color: black;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid black;
    }

    .search-container img {
        margin-right: 10px;
        height: 30px;
        width: 30px;
    }
</style>
<body class="bodytemp">
    <div class="" style=";padding:1%;">
        <div class="ola">

            <div class="box1 bordercolor colorformatch" style="border-radius:15px; padding:1%;">
                <h3> IzZy </h3> 
                <div class="teams" style="display:flex; justify-content:center">
                    <img src="~/images/WRU_Logo_Fundo_.png" alt="logo" class="logo" style="border-radius:15px;width:50%;">
                </div>

                <div class="box2" style="margin:auto;margin-top: 10%; width:70%">
                    <p>Age: 22</p>
                    <p>Team: WR'U <img src="~/images/WRU_Logo 1.png" style="width:15%;margin-left:1%;margin-bottom:1%"> </p>
                    <p>Nationality: Portuguese <img src="~/images/Flags/1x1/pt.svg" style="width:7%;margin-left:1%;margin-bottom:1%"> </p>
                </div>
                
            </div>


            @* -------------------------------------------------------------------------------*@
            <div class="alinhar" style="width:80%; display:flex; justify-content:center ">
                
                <div class="bordercolor colorformatch" style="width:90%;padding:3%">
                    @* <div class="darkcolor bordercolor" style="border-radius:15px; margin-bottom:2%">
                    <p style="font-weight:bold; margin-top:2%; margin-bottom:0px; ">
                    <h2><span class="alinhar">Blast.tv Paris Major 2022</span></h2><br />

                    <h4 style="text-align: center;">
                    <img src="~/images/live.png" width="20%" />
                    </h4>
                    </p>
                    </div>*@

                    <table class="tableDetails" style=" width:100%">
                            <h3>Stats</h3>
                            <tbody>
                                <tr>
                                    <td>Rating</td>
                                    <td style="width:30%">

                                        <span> 1.09</span>
                                        <span>

                                            <img src="~/images/yellow.png" style="width:15%;padding:2px;">

                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>Total Kills</td>
                                    <td style="width:30%">135</td>
                                </tr>
                                <tr>
                                    <td>Total Deaths</td>
                                    <td style="width:30%">107</td>
                                </tr>
                                <tr>
                                    <td>K/D Ratio</td>
                                    <td style="width:30%">

                                        <span> 1.35</span>
                                        <span>

                                            <img src="~/images/green.png" style="width:15%;padding:2px;">

                                        </span>

                                    </td>
                                </tr>
                                <tr>
                                    <td>HeadShots %</td>
                                    <td style="width:30%">

                                        <span> 29.3%</span>
                                        <span>

                                            <img src="~/images/red.png" style="width:15%;padding:2px;">

                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Maps Played</td>
                                    <td>7</td>
                                </tr>
                            </tbody>
                        </table>

                    

                </div>
            </div>

            @* ---------------------------------------------------------------------------*@

            <div class="box1" style="border-radius:15px;">
                <div class="borders bordercolor colorformatch" style="border-radius:15px">
                    <h3> Player's Team History</h3>
                    <table class="tableDetails" style="width:100%">
                        <tr style="width:100%">
                            <td style="width:35%;border:none">
                                <img src="~/images/WRU_Logo_Fundo_.png" style="width:100%;">
                             </td>
                            <td style="width:70%; border:none">
                                <div>
                                    <h4>
                                        Team Name
                                    </h4>
                                    <p>
                                       2022 - Present
                                    </p>
                                </div>
                            </td>

                            
                        </tr>

                        <tr style="width:100%">
                            <td style="width:35%;border:none">
                                <img src="~/images/WRU_Logo_Fundo_.png" style="width:100%;">
                            </td>
                            <td style="width:70%; border:none">
                                <div>
                                    <h4>
                                        Team Name
                                    </h4>
                                    <p>
                                        2022 - Present
                                    </p>
                                </div>
                            </td>


                        </tr>

                        <tr style="width:100%">
                            <td style="width:35%;border:none">
                                <img src="~/images/WRU_Logo_Fundo_.png" style="width:100%;">
                            </td>
                            <td style="width:70%; border:none">
                                <div>
                                    <h4>
                                        Team Name
                                    </h4>
                                    <p>
                                        2022 - Present
                                    </p>
                                </div>
                            </td>


                        </tr>
                    </table>
                    
                </div>

               
            </div>

        </div>
    </div>

</body>


@*@{
    ViewData["Title"] = "PlayerAndStats";
}
<style>
    
    .teams {
        width: 22%; 
        height: 100%;
        display: inline-block; 
    }

    .box {
        width: 50%; 
        height: 100%;
        display: inline-block; 
    }
    .logo {
        max-width: 100%; 
        height: auto; 
    }

    table {
        border-collapse: collapse; 
        width: 95%; 
    }

    th {
        border: 1px solid black; 
        padding: 10px; 
    }

    td {
        border: 1px solid black; 
        padding: 10px; 
    }

    h3 {
        text-align: center;
    }

    .box2 {
        width: calc(95% / 2);
        height: 20%;
        display: inline-block; 
    }

    caption{
        color:black;
        text-decoration:underline;
    }

    .alinhar{
          display: flex;
          align-items: center;
          justify-content: center;
    }

    .alinhar2 {
        display:inline-block;
        align-items: center;
        justify-content: center;
    }


</style>
<body class="bodytemp whiteText">
    
        <div class="teams bordercolor dark" style="margin:5px;">
            <h3> Previous Team</h3>
            <img src="~/images/WRU_Logo 1.png" alt="logo" class="logo">
        </div>
    
    <div class="box " >

        
        <div class="alinhar bordercolor dark whiteText" style="margin:5px;">
                <div class="teams">
                    <img src="~/images/WRU_Logo 1.png" alt="logo" class="logo">
                </div>

                <div class="box2">
                    <p>Name: IzZy </p>
                    <p>Age: 22</p>
                    <p>Team: WR'U</p>
                    <p>Nationality: Portuguese</p>
                </div>
            </div>

        <div class="alinhar bordercolor dark whiteText " style="padding:3%;margin:5px">
                <table class="tablestats">
                <caption class="whiteText" style="text-decoration:none">Player Statistics</caption>
                <tbody>
                        <tr class="">
                            <td>Total Kills</td>
                            <td style="width:30%">135</td>
                        </tr>
                        <tr>
                            <td>Total Deaths</td>
                        <td style="width:30%">107</td>
                        </tr>
                        <tr>
                            <td>K/D Ratio</td>
                        <td style="width:30%">
                            
                            <span> 1.35</span>
                            <span>

                                <img src="~/images/green.png" style="width:15%;padding:2px;">

                            </span>
                                
                        </td>
                        </tr>
                        <tr>
                            <td>HeadShots %</td>
                        <td style="width:30%">
                            
                            <span> 29.3%</span>
                            <span>

                                <img src="~/images/red.png" style="width:15%;padding:2px;">

                            </span>
                        </td>
                        </tr>
                        <tr>
                            <td>Maps Played</td>
                            <td>7</td>
                        </tr>
                    </tbody>
                </table>    
            </div>

        <div class="alinhar bordercolor dark" style="padding:3%">
            <table class="tablestats" style="margin-top:30px;">
                <caption class="whiteText" style="text-decoration:none">Breakdown of Wonderfull's teams</caption>
                    <thead>
                        <tr>
                          <th>Time Period</th>
                          <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jun 2022 - Present</td>
                            <td>Case</td>
                        </tr>
                        <tr>
                            <td>Dec 2021 - Mar 2022</td>
                            <td>HellRaisers</td>
                        </tr>
                        <tr>
                            <td>Dec 2021 - Dec 2021</td>
                            <td>Gucci Squad</td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>

        
    </div>

       
            <div class="teams bordercolor dark">
                <h3>Current Team</h3>
                <img src="~/images/WRU_Logo 1.png" alt="logo" class="logo">
            </div>
       
        
</body>*@