@{
	ViewData["Title"] = "Results";
}
<!DOCTYPE html>


<html>
	<style>
		.central {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			height:100%;
			
		}

		.center {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		h1 {
			font-size: 36px;
			margin-bottom: 30px;
		}
		.buttons {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}
		.button {
			
			margin-left:10px;
			background-color: #e0eeff;
			color: black;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			border: 1px solid black;
		}

		.button2 {
			background-color: #e0eeff;
			color: black;
			width:100%;
			padding: 10px 20px;
			
		
		}
		.button:hover {
			background-color: #2980b9;
		}
		.my-div {
			width:100%;
			display: flex;
			flex-direction: row;
			height: 50px;
			margin: 10px;
		}
		.my-div > div {
			flex-basis: 25%;
			flex-grow: 1;
			
		}
		.btn123{
			color:black;
			width: 90%;
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid black;
			border-radius: 15px;
		}
		span{
			font-weight:bold;
		}

		.dropdown {
			margin-left:10px;
			background-color: #e0eeff;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			border: 1px solid black;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			z-index: 1;
			margin-left:5%;
			margin-top: 2px;
			
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		.dropdown-content a {
			background-color:white;
			display: block;
			color: #000;
			padding: 10px;
			text-decoration: none;
			border: 1px solid black;
		}

		.dropdown-content a:hover {
			background-color: #bf7b8e;
		}

		.search-container {
			display: flex;
			align-items: center;
		}

		.search-container input[type="text"] {
			background-color: #e0eeff;
			color: black;
			width:100%;
			padding: 10px 20px;
			border:1px solid black;
			
		}

		.search-container img {
			margin-right: 10px;
			height: 30px;
			width: 30px;
		}

</style>

<body class="bodytemp whiteText">
	
	<div class="central">

		<div style="display:flex; margin-bottom:3%">
			<button class="btnResult selectedbtn bordercolor" style="">
				Results of Today
			</button>
			<button class="btnResult bordercolor" style="">
				Results of Yesterday
			</button>
			<button class="btnResult bordercolor">
				-  *Days Ago
				<div style="font-size:10px;"> *2 to 365 days</div>
			</button>
		</div>

		<div class="center bordercolor colorformatch " style=";width:100%; padding:1%;">
			
				<table class=" bordercolor" style="width:100%; border-radius:15px;" >

				<tr style="border:1px solid black;">
						<td>G2</td>
						<td> 14 -16 </td>
						<td> NaVi </td>
					<td> BLAST.tv Paris Major 2023 Europe</td>

				</tr>
					<tr style="border:1px solid black">
						<td>G2</td>
						<td> 14 -16 </td>
						<td> NaVi </td>
					<td> BLAST.tv Paris Major 2023 Europe</td>

				</tr>
				<tr style="border:1px solid black">
					<td>G2</td>
					<td> 14 -16 </td>
					<td> NaVi </td>
					<td> BLAST.tv Paris Major 2023 Europe</td>

				</tr>
				<tr style="border:1px solid black">
					<td>G2</td>
					<td> 14 -16 </td>
					<td> NaVi </td>
					<td> BLAST.tv Paris Major 2023 Europe</td>

				</tr>
				</table>
						
			</div>
		</div>

	</div>
</body>
</html>

