@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<style>
    .bodytemp {
        text-align: left;
    }
    .container1 {
        display: flex;
        text-align: left;
        width: 100%;
    }
    body{
        text-align:left;
    }
    .box {
        width: 100%;
        text-align:center;
    }

    .row {
        width: 100%;
        justify-content: center;
    }
</style>
<body class="bodytemp">
    <div style="background-color:white">

        <div class="container1" style="align-items: center;">

            <div class="box" >
                <img src="~/images/EmailConfirmation.png" style="width:90%; padding:10%">
            </div>

            <div class="box" style="text-align:center">
                <div class="row">
                    <div class="col-md-4" style="width:70%; ">
                        <h3>
                            Email Confirmed
                        </h3>
                        <partial name="_StatusMessage" model="Model.StatusMessage" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

