@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm Email change";
}

<style>

    .bodytemp {
        text-align: center;
    }

    .container1 {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .box {
        width: 100%
    }

    .row {
        width: 100%;
        justify-content: center;
    }
</style>
<body class="bodytemp">
    <div style="background-color:white">


        <div class="container1">

            <div class="box">
                <img src="~/images/emailchange.png" style="width:90%; padding:10%">
            </div>


            <div class="box">
                <div class="row">
                    <div class="col-md-4" style="width:70%; ">
                        <h3>
                            <h1>@ViewData["Title"]</h1>
                        </h3>
                        <partial name="_StatusMessage" model="Model.StatusMessage" />
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>


