@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
	<b>Please check your email to reset your password.</b>
	<br><br>
	After resetting your password, <a asp-page="./Login">click here to login</a>.
</p>
