@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<header>
    <h1 id="toTranslate" style="text-transform: capitalize;">@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark" id="toTranslate">Click here to Logout</button>
            </form>
        }
        else
        {
            <p id="toTranslate">You have successfully logged out of the application.</p>
        }
    }
</header>
