@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<style>
    
    .bodytemp{
        text-align:center;
    }

    .container {
        display: flex;
        align-items: center;
       
        height: 100%;
    }

    .box {
        width: 100%
       
    }
    .row{
        width:100%;
        justify-content: center;
    }
</style>
<body class="bodytemp">
    <div class="darktheme bordercolor whitetext" style="text-align:center;width:100%">

        <div class="container1" style="text-align:center;margin:auto;display:flex">

            <div class="box" style="text-align:center;">
                <img src="~/images/successPWReset.png" style="width:80%; padding:5%;margin-bottom:5%">
            </div>

            <div class="box" style="margin:auto">
                <div class="row">
                        <h1 style="text-transform: capitalize;" id="toTranslate">@ViewData["Title"]</h1>
                        <p>
						    <span id="toTranslate">Your password has been reset. Please </span><a asp-page="./Login"><span id="toTranslate">click here to log in</span></a>.
                        </p>
                </div>
            </div>

         </div>
    </div>
</body>
