@using Newtonsoft.Json.Linq
@using System.Linq
@{
    ViewData["Title"] = "EventDetails";

}

<style>
    .box1 {
        width: 25%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    .box {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        margin-top: 60%;
    }

    .logo {
        max-width: 100%;
        height: auto;
    }

    table {
        border-collapse: collapse;
        width: 95%;
    }

    th {
        border: 1px solid black;
        padding: 10px;
    }

    td {
        border: 1px solid black;
        padding: 10px;
    }

    h3 {
        text-align: center;
    }

    .box2 {
        width: calc(95% / 2);
        height: 20%;
        display: inline-block;
    }

    caption {
        color: black;
        text-decoration: underline;
    }

    .alinhar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .alinhar2 {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 50px;
        margin: 10px;
    }

        .my-div > div {
            flex-basis: 25%;
            flex-grow: 1;
        }

    .my-div2 > div {
        width: 100%
    }

    span {
        font-weight: bold;
    }

    .span2 {
        font-weight: normal;
    }

    .central {
        text-align: center;
        background-color: white;
    }

    .ola {
        display: flex;
        align-self: flex-start;
    }
</style>
<body class="bodytemp">

    <h1 style="text-align: center;">Blast.tv Paris Major 2022</h1>
    <div class="ola">

        <div class="box1" style="background-color:lightgrey">
            <h4 style="font-weight: bold;">Finished Matches</h4>
            <div class="alinhar" style="border-bottom: 1px solid black">
                <div class="my-div2" style="width:90%;">
                    <div>
                        <span class="span2" style="margin-top:10px;">Saturday - 2023-02-12 &nbsp; &nbsp; 21:00</span>
                    </div>

                    <div>
                        <span style="text-align: center;">
                            <p style="font-size:25px">
                                <span> Fnatic </span>
                                <span class="span2"> 16 </span>
                                <span class="span2"> vs </span>
                                <span class="span2"> 10 </span>
                                <span> SAW </span>
                            </p>
                        </span>
                    </div>

                    <div style="text-align:left; display: flex;">
                        <p>Best of 3</p>
                        <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                    </div>

                </div>
            </div>
            <div class="alinhar" style="border-bottom: 1px solid black">
                <div class="my-div2" style="width:90%;">
                    <div>
                        <span class="span2" style="margin-top:10px;">Saturday - 2023-02-12 &nbsp; &nbsp; 20:00</span>
                    </div>

                    <div>
                        <span style="text-align: center;">
                            <p style="font-size:25px">
                                <span> Nouns </span>
                                <span class="span2"> 3 </span>
                                <span class="span2"> vs </span>
                                <span class="span2"> 16 </span>
                                <span> ATK </span>
                            </p>
                        </span>
                    </div>

                    <div style="text-align:left; display: flex;">
                        <p>Best of 3</p>
                        <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                    </div>

                </div>
            </div>
            <div class="alinhar" style="border-bottom: 1px solid black">
                <div class="my-div2" style="width:90%;">
                    <div>
                        <span class="span2" style="margin-top:10px;">Saturday - 2023-02-12 &nbsp; &nbsp; 19:00</span>
                    </div>

                    <div>
                        <span style="text-align: center;">
                            <p style="font-size:25px">
                                <span> Mythics </span>
                                <span class="span2"> 16 </span>
                                <span class="span2"> vs </span>
                                <span class="span2"> 2 </span>
                                <span> Furia </span>
                            </p>
                        </span>
                    </div>

                    <div style="text-align:left; display: flex;">
                        <p>Best of 3</p>
                        <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                    </div>

                </div>
            </div>
            <div class="alinhar" style="border-bottom: 1px solid black">
                <div class="my-div2" style="width:90%;">
                    <div>
                        <span class="span2" style="margin-top:10px;">Saturday - 2023-02-12 &nbsp; &nbsp; 19:00</span>
                    </div>

                    <div>
                        <span style="text-align: center;">
                            <p style="font-size:25px">
                                <span> 00Nation </span>
                                <span class="span2"> 16 </span>
                                <span class="span2"> vs </span>
                                <span class="span2"> 14 </span>
                                <span> paiN </span>
                            </p>
                        </span>
                    </div>

                    <div style="text-align:left; display: flex;">
                        <p>Best of 3</p>
                        <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                    </div>

                </div>
            </div>

        </div>

        <div class="box" style="background-color: white; margin: 2%;">

            <div style="text-align:center; background-color:#e0eeff;">

                <div class="alinhar">
                    <div class="my-div">
                        <div>
                            <span>Date</span>
                            <p>Feb 22nd - Mar 26th 2023</p>
                        </div>

                        <div>
                            <span>Prize pool</span>
                            <p>$850,000</p>
                        </div>

                        <div>
                            <span>Teams</span>
                            <p>32</p>
                        </div>

                        <div>
                            <span>Tier</span>
                            <p>A</p>
                        </div>

                    </div>

                </div>
                <p style="margin-right:20%; text-align:right">
                    <span>Link: </span>
                </p>
            </div>

            <div class="alinhar">
                <div class="my-div2" style="width:90%">
                    <div>
                        <p style="font-weight:bold; margin-top:2%; margin-bottom:0px; ">
                            <h4 style="font-weight: bold;">Live Match</h4>
                        </p>
                        <span class="span2" style="margin-top:10px;">Saturday - 2023-02-13 &nbsp; &nbsp; 23:00</span>
                    </div>

                    <div>
                        <span style="text-align: center;">
                            <p style="font-size:25px">
                                <span> ENCE </span>
                                <span class="span2"> 11 </span>
                                <span class="span2"> vs </span>
                                <span class="span2"> 5 </span>
                                <span> G2 </span>
                            </p>
                        </span>
                    </div>

                    <div style="text-align:left; display: flex;">
                        <p>Best of 3</p>
                        <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                    </div>

                </div>
            </div>



        </div>


        <div class="box1" style="background-color:lightgrey">
            <h4 style="font-weight: bold;">Upcoming Matches</h4>
            <div class="alinhar" style="border-bottom: 1px solid black">
                <div class="my-div2" style="width:90%;">
                    <div>
                        <span class="span2" style="margin-top:10px;">Saturday - 2023-02-14 &nbsp; &nbsp; 21:00</span>
                    </div>

                    <div>
                        <span style="text-align: center;">
                            <p style="font-size:25px">
                                <span> Apeks </span>
                                <span class="span2">  </span>
                                <span class="span2"> vs </span>
                                <span class="span2">  </span>
                                <span> Eyeballers </span>
                            </p>
                        </span>
                    </div>

                    <div style="text-align:left; display: flex;">
                        <p>Best of 3</p>
                        <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                    </div>

                </div>
            </div>
            <div class="alinhar" style="border-bottom: 1px solid black">
                <div class="my-div2" style="width:90%;">
                    <div>
                        <span class="span2" style="margin-top:10px;">Saturday - 2023-02-14 &nbsp; &nbsp; 20:00</span>
                    </div>

                    <div>
                        <span style="text-align: center;">
                            <p style="font-size:25px">
                                <span> Voyovda </span>
                                <span class="span2">  </span>
                                <span class="span2"> vs </span>
                                <span class="span2">  </span>
                                <span> HAVU </span>
                            </p>
                        </span>
                    </div>

                    <div style="text-align:left; display: flex;">
                        <p>Best of 3</p>
                        <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                    </div>

                </div>
            </div>
            <div class="alinhar" style="border-bottom: 1px solid black">
                <div class="my-div2" style="width:90%;">
                    <div>
                        <span class="span2" style="margin-top:10px;">Saturday - 2023-02-14 &nbsp; &nbsp; 19:00</span>
                    </div>

                    <div>
                        <span style="text-align: center;">
                            <p style="font-size:25px">
                                <span> IIIuminar </span>
                                <span class="span2">  </span>
                                <span class="span2"> vs </span>
                                <span class="span2">  </span>
                                <span> ECLOT </span>
                            </p>
                        </span>
                    </div>

                    <div style="text-align:left; display: flex;">
                        <p>Best of 3</p>
                        <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                    </div>

                </div>
            </div>
            <div class="alinhar" style="border-bottom: 1px solid black">
                <div class="my-div2" style="width:90%;">
                    <div>
                        <span class="span2" style="margin-top:10px;">Saturday - 2023-02-14 &nbsp; &nbsp; 18:00</span>
                    </div>

                    <div>
                        <span style="text-align: center;">
                            <p style="font-size:25px">
                                <span> BNE </span>
                                <span class="span2">  </span>
                                <span class="span2"> vs </span>
                                <span class="span2">  </span>
                                <span> Nexus </span>
                            </p>
                        </span>
                    </div>

                    <div style="text-align:left; display: flex;">
                        <p>Best of 3</p>
                        <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>