@{
    ViewData["Title"] = "Delete Account";
}


<style>
    
    .bodytemp{
        text-align:center;
    }

    .container {
        display: flex;
        align-items: center;
       
        height: 100%;
    }

    .box {
        width: 100%
       
    }
    .row{
        width:100%;
        justify-content: center;
    }
    .buttons {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}

        .search-container {
			display: flex;
			align-items: center;
		}

		.search-container input[type="text"] {
			background-color: #e0eeff;
			color: black;
			width:100%;
			padding: 10px 20px;
			border:1px solid black;
			
		}
        .button {
			
			margin-left:10px;
			background-color: #e0eeff;
			color: black;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			border: 1px solid black;
		}
        .button2 {
			
			margin-left:10px;
			background-color: red;
			color: black;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			border: 1px solid black;
		}
</style>
<body class="bodytemp">
    <div style="background-color:white">
        <div class="container">

            <div class="box">
                <img src="~/images/delete.png"  style="width:100%; margin-bottom: 15%; padding:20%">
            </div>

            <div class="box">

                <div class="row">

                    <h1>@ViewData["Title"]</h1>

                    <h3 style="margin-bottom: 10%">Are you sure you want to delete your account?</h3>

                    <div class="col-md-4" style="width:70%; ">

                      <div class="buttons">

			              <button class="button">Cancel</button>

                          <button class="button2">Confirm</button>

		              </div>

                    </div>

                </div

             </div>

        </div>

</div>
</body>