@{
    ViewData["Title"] = "Events";
}
<!DOCTYPE html>


<html>
	<style>
		.central {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			height:100%;
			background-color: white;
		}

		.center {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		h1 {
			font-size: 36px;
			margin-bottom: 30px;
		}
		.buttons {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}
		.button {
			
			margin-left:10px;
			background-color: #e0eeff;
			color: black;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			border: 1px solid black;
		}

		.button2 {
			background-color: #e0eeff;
			color: black;
			width:100%;
			padding: 10px 20px;
			
		
		}
		.button:hover {
			background-color: #2980b9;
		}
		.my-div {
			width:100%;
			display: flex;
			flex-direction: row;
			height: 50px;
			margin: 10px;
		}
		.my-div > div {
			flex-basis: 25%;
			flex-grow: 1;
			
		}
		.btn1{
			background-color: #e0eeff;
			color:black;
			width: 90%;
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid black;
			border-radius: 0px;
		}
		span{
			font-weight:bold;
		}

		.dropdown {
			margin-left:10px;
			background-color: #e0eeff;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			border: 1px solid black;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			z-index: 1;
			margin-left:5%;
			margin-top: 2px;
			
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		.dropdown-content a {
			background-color:white;
			display: block;
			color: #000;
			padding: 10px;
			text-decoration: none;
			border: 1px solid black;
		}

		.dropdown-content a:hover {
			background-color: indianred;
		}

		.search-container {
			display: flex;
			align-items: center;
		}

		.search-container input[type="text"] {
			background-color: #e0eeff;
			color: black;
			width:100%;
			padding: 10px 20px;
			border:1px solid black;
			
		}

		.search-container img {
			margin-right: 10px;
			height: 30px;
			width: 30px;
		}

</style>

<body class="bodytemp">
	
	<div class="central">
		<h1>Events</h1>

		<div class="buttons">

			<label class="search-container">
				<img src="~/images/procurar.png" />
				<input type="text" placeholder="Search...">
			</label>

			@*<button class="button" style="margin-top: 0px;margin-bottom: 0px;">
				Search
			</button>*@

			<div class="dropdown">
				<button class="button2">Sort by</button>
				<div class="dropdown-content" style="margin-left:5%;">
				<a href="#">Newest</a>
				<a href="#">Oldest</a>
				<a href="#">Prizepool</a>
				<a href="#">Name</a>
				<a href="#">Tier</a>
			  </div>
			</div>
			<div class="dropdown">
			  <button class="button2">Filter by</button>
			  <div class="dropdown-content">
				<a href="#">On going</a>
				<a href="#">Finished</a>
				<a href="#">Upcoming</a>
			  </div>
			</div>
						
		</div>

		<div class="center" style="flex-direction: column; background-color: white; ">

			<button class=" btn1">
				<div class="my-div">
					<div>
						<span>Blast.tv Paris</span>
						<p>Major 2022</p>
					</div>

					<div>
						<span>Prize pool</span>
						<p>$850,000</p>
					</div>

					<div>
						<span>Winner</span>
						<p>-</p>
					</div>

					<div>
						<span>2023-02-22</span>
						<p>State: on going</p>
					</div>

				</div>
			</button>

			<button class=" btn1">
				<div class="my-div">
					<div>
						<span>ESL Pro League</span>
						<p>Season 17</p>
					</div>

					<div>
						<span>Prize pool</span>
						<p>$1,000,000</p>
					</div>

					<div>
						<span>Winner</span>
						<p>-</p>
					</div>

					<div>
						<span>2024-11-12</span>
						<p>State: upcoming</p>
					</div>

				</div>
			</button>

			<button class=" btn1">
				<div class="my-div">
					<div>
						<span>IEM Cologne</span>
						<p>2021</p>
					</div>

					<div>
						<span>Prize pool</span>
						<p>$1,500,000</p>
					</div>

					<div>
						<span>Winner</span>
						<p>NAVI</p>
					</div>

					<div>
						<span>2021-12-12</span>
						<p>State: finished</p>
					</div>

				</div>
			</button>

			<button class=" btn1">
				<div class="my-div">
					<div>
						<span style="font-weight:bold">IEM Cologne</span>
						<p>2022</p>
					</div>

					<div>
						<span style="font-weight:bold">Prize pool</span>
						<p>$1,000,000</p>
					</div>

					<div>
						<span style="font-weight:bold">Winner</span>
						<p>-</p>
					</div>

					<div>
						<span style="font-weight:bold">2022-08-12</span>
						<p>State: on going</p>
					</div>

				</div>
			</button>

		</div>

	</div>
</body>
</html>

