@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

	<style>
		.central {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			height:100%;
			background-color: white;
		}

		.center {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		tr, td, th{
			border-width: 1px;
		}
	</style>

	<script>
		function chart() {
			var data = [
				{ y: '2018', a: 0.78 },
				{ y: '2019', a: 0.83 },
				{ y: '2020', a: 0.91 },
				{ y: '2021', a: 1.02 },
				{ y: '2022', a: 1.12 },
				{ y: '2023', a: 1.21 }
			],
				config = {
					data: data,
					xkey: 'y',
					ykeys: ['a'],
					labels: ['Rating'],
					fillOpacity: 0.6,
					hideHover: 'auto',
					pointFillColors: ['#ffffff'],
					pointStrokeColors: ['black'],
					lineColors: ['red']
				};
			config.element = 'line-chart';
			Morris.Line(config);
		}
	</script>

<body onload="chart()" class="bodytemp">

	@*<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
		<br><br>
	</div>*@

	<div class="box darkcolor bordercolor " style="text-align: center; border-radius:15px;margin-top:0px ;justify-content: center; align-items: center;">
		<br>
		<h2 style="font-weight: bold;">Website Stats</h2>
		<br>
		<table style="width:80%; margin-left: auto; margin-right: auto;">
			<tr>
				<th style="width: 50%;">Number of registered accounts</th>
				<th style="width: 50%;">Daily flow of users</th>
			</tr>
			<tr>
				<td> <b id="noOfAccounts">@ViewData["accounts"]</b> <span id="accountText"> @ViewData["account_txt"] </span> </td>
				<td> <b id="noOfVisitors">@ViewData["visitors"]</b> <span id="visitorsText"> @ViewData["visitors_txt"] </span> </td>
			</tr> 
		</table>
		<br>
	</div>

	<br>
	<div class="box darkcolor bordercolor" style="display: flex; border-radius:15px; width: 50%; justify-content: center; margin: auto;">
		<div class="col-sm-6 text-center" style="margin: auto; width: 100%">
			<label class="label label-success">Rating Chart</label>
			<div id="line-chart"></div>
		</div>
	</div>

</body>

</html>

