@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<html>
	<style>
		.central {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			height:100%;
			background-color: white;
		}

		.center {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		tr, td, th{
			border-width: 1px;
		}
	</style>

<body onload="chart()" class="bodytemp">

	@*<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
		<br><br>
	</div>*@

	<div class="box darkcolor bordercolor " style="text-align: center; border-radius:15px;margin-top:0px ;justify-content: center; align-items: center;">
		<br>
		<h2 style="font-weight: bold;">Website Stats</h2>
		<br>
		<table style="width:80%; margin-left: auto; margin-right: auto;">
			<tr>
				<th style="width: 50%;">Number of registered accounts</th>
				<th style="width: 50%;">Daily flow of users</th>
			</tr>
			<tr>
				<td> <b id="noOfAccounts">@ViewData["accounts"]</b> <span id="accountText"> @ViewData["account_txt"] </span> </td>
				<td> <b id="noOfVisitors">@ViewData["visitors"]</b> <span id="visitorsText"> @ViewData["visitors_txt"] </span> </td>
			</tr> 
		</table>
		<br>
	</div>

</body>

</html>

