@{
    ViewData["Title"] = "Home Page";
}
<!--página para recuperar a password
    aparece depois da página SendEmail
-->

<div class="text-center">
    <h1 class="display">Recover password</h1>
</div>

<form>
    <div class="text-center" style="width: 50%;margin:auto">

        <input type="password" placeholder="New password*" name="password" required>
        <input type="password" placeholder="Confirm password*" name="confirmPassword" required>
  
        <div>
            <button type="submit">Confirm</button>
            <button type="button" class="cancelbtn"> Cancel</button>
        </div>
    </div>

</form>
