@{
    ViewData["Title"] = "Recover PassWord";
}
<!--página para recuperar a password
    aparece depois da página SendEmail
-->
<body class="bodyLogin">
    <div class="text-center">
        <h1 class="display">Recover password</h1>
    </div>

    <form class="form">
        <div class="text-center" style="width: 90%;margin:auto">

            <input type="password" placeholder="New password*" name="password" required>
            <input type="password" placeholder="Confirm password*" name="confirmPassword" required>
  
            <div>
                <button type="submit">Confirm</button>
                <button type="button" class="cancelbtn"> Cancel</button>
            </div>
        </div>

    </form>
</body>
