@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display">Register</h1>
</div>
<form>
    <div class="text-center" style="width: 50%;margin:auto">
            <input type="text" placeholder="Name*" name="name" required>
            <input type="text" placeholder="Email*" name="email" required>  
            <input type="password" placeholder="Password*" name="password" required>
            <input type="password" placeholder="Confirm password*" name="confirmPassword" required>
            <textarea id="subject" name="subject" placeholder="Description" style="height:200px"></textarea>

            <div>
                <button type="submit">Confirm</button>   
                <button type="button" class="cancelbtn"> Cancel</button> 
            </div>
    </div>

</form>
