@{
    ViewData["Title"] = "Home Page";
}
<!--página para recuperar a password
    aparece depois da página SendEmail
-->
<body class="bodyLogin">
    <div class="text-center">
        <h1 class="display">Recover Password</h1>
    </div>

    <form class="form">
        <div class="text-center" style="width: 90%; margin:auto">
            <p style="margin-top: 15px ">Type your email and we will send a message for you to recover your password.</p>
            <input type="text" placeholder="Email" name="email" required>

            <div>
                <button type="submit">Confirm</button>
                <button type="button" class="cancelbtn"> Cancel</button>
            </div>
        </div>

    </form>
</body>