@{
    ViewData["Title"] = "StatisticsOfSite";
}
<!DOCTYPE html>


<html>
	<style>
		.central {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			height:100%;
			background-color: white;
		}

		.center {
			display: flex;
			justify-content: center;
			align-items: center;
		}


</style>

<body class="bodytemp">
	
	<div class="central">
		<h2>Estatísticas do site</h2>
		<table class="table">
			<tr>
				<th>Número de utilizadores que criaram conta</th>
				<th>Número de utilizadores que fizeram login</th>
				
			</tr>
			
			<tr>
				<td>100</td>
				<td>90</td>
			</tr>

		</table>

	</div>

</body>

</html>

