@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FPTV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FPTV.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    
    <style>
		/*#menu {
			margin-right: 4%;
			margin-left: 4%;
		    color: #000;
			cursor: pointer;
		    display: inline-block;
		}
*/
		#buttonMenu:hover {
			background-color: transparent;
			border: 2px solid #DE3C3C;
			border-radius: 20px;
			-webkit-transition: all .15s ease-in-out;
			transition: all .15s ease-in-out;
			color: #DE3C3C;
			box-shadow: 0 0 5px 0 #DE3C3C inset, 0 0 10px 1px #DE3C3C;
		}
    </style>
</head>
<body>
<header>
		<div>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="margin-top: -5px;width:100%">
				<div class="container-fluid" style="width:100%">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/iconMenu.jpg" style="width: 85px; height: 100%;"> </a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div style="width:100%; display:flex">
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin:auto">
					<ul class="navbar-nav flex-grow-1" style="display:flex; width:80%">
						<li class="nav-item" id="menu">
								<a class="nav-link text-dark" id="buttonMenu" style="font-weight: bold; font-size: 24px;" asp-area="Home" asp-controller="Home" asp-action="Index">@*Game*@CS:GO</a>
						</li>
							<li class="nav-item" id="menu">
								<a class="nav-link text-dark" id="buttonMenu" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="Matches">Matches</a>
						</li>
							<li class="nav-item" id="menu">
								<a class="nav-link text-dark" id="buttonMenu" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="Index">Results</a>
						</li>
							<li class="nav-item" id="menu">
								<a class="nav-link text-dark" id="buttonMenu" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="Events">Events</a>
						</li>
							<li class="nav-item" id="menu">
								<a class="nav-link text-dark" id="buttonMenu" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="Index">Forum</a>
						</li>
							<li class="nav-item" id="menu">
								<a class="nav-link text-dark" id="buttonMenu" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="Index">About</a>
						</li>
					</ul>
				</div>
					<div class="navbar-nav flex-grow-1" style="justify-content: end; width:10%">
					@{
						var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
					}
					@if (result.Success)
					{
						await Html.RenderPartialAsync("_LoginPartial");
					}
					else
					{
						throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
						"usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
						$"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
					}
				</div>
					</div>
			</div>
		</nav>
	</div>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<footer class="border-top footer text-muted" style="background-color: white">
		<div class="container" style="color: black; margin-left: 4%">
			&copy; 2023 - FPTV - <a asp-area="" style="color: black;" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
	<script>
		window.onload = function() {
		    var url = window.location.href;)
		    var activeTab = url.substring(url.indexOf("/") + 1);
		    var menuTab = document.getElementById('activeTab');
		    element.style.fontWeight = "bold";
			console.log(activeTab);
			console.log(menuTab);
		}
	</script>
@*<script>
		document.addEventListener('click', (e) => {
			// Retrieve id from clicked element
			let elementId = e.target.id;
			
			// If element has id
			if (elementId !== 'buttonMenu') {
				e.target.fontWeight = "bold";
			}
			// If element has no id
			else {
				console.log("An element without an id was clicked.");
			}
		}
		);
	</script>
	<script>
		// A little bit of JavaScript to make
		// the items clickable
		const anchors = Array.from(document.getElementById("buttonMenu"))

		anchors.forEach(a => {
		a.addEventListener('click', function(e) {
		anchors.forEach(a => {
		a.classList.remove('is-active')
		})

		e.currentTarget.classList.add('is-active')
		})  
		})
	</script>
	<script>
		function change(){
			var elements  = document.getElementById("buttonMenu");
			for(var i = 0; i < elements .length; i++) {
				
			}
	        if(document.getElementById("buttonMenu").style.fontWeight != "bold"){
	            document.getElementById("buttonMenu").style.fontWeight="bold";
	            
	        }
	        else{
	            document.getElementById("buttonMenu").style.fontWeight="normal";
	            
	        }
		}
	</script>*@
	<script>
        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('PUSHER_APP_KEY', {
            cluster:'PUSHER_APP_CLUSTER'
        });

        var channel = pusher.subscribe('general');

        channel.bind('newVisit', function(data) {

          var visits = data.visits;
          var message = data.message;
          $('#noOfVisitors').text( visits );
          $('#visitorsText').text( message );
        });
    </script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>